*
!*/
code/
Documents/
Downloads/
lol/
kk/
aokp/
repos/
realms-wiki/
.cache/
.vim/
src
.config/tint2/snap.jpg
!.gitignore
!.bashrc
!.bash_aliases
!.bash_functions
!.vimrc
!.gitconfig
!.config/tilda/config_0
!.config/openbox/autostart
!.config/openbox/menu.xml
!.config/openbox/rc.xml
!.config/tint2/default.tint2rc
!.config/tint2/tint2confrc
!.config/tint2/tint2rc
!.config/tint2/tint2rc-iconified
!.config/tint2/tint2rc-slim-vertical
!.config/tint2/tint2rc-standard
!.config/tint2/tintwizard.conf
